anything==0.2.1
asn1crypto==0.24.0
attrs==19.1.0
autobahn==19.9.3
Automat==0.7.0
cffi==1.12.3
constantly==15.1.0
cryptography==2.7
cycler==0.10.0
decorator==4.4.1
Django==2.2.5
django-classy-tags==0.9.0
django-sekizai==1.0.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
inflect==2.1.0
kiwisolver==1.1.0
matplotlib==3.1.1
mock==3.0.5
model-mommy==1.6.0
networkx==2.4
numpy==1.17.4
Pillow==5.2.0
pycparser==2.19
PyHamcrest==1.9.0
pyparsing==2.4.5
python-dateutil==2.8.1
pytz==2019.2
six==1.12.0
sqlparse==0.3.0
Twisted==19.7.0
txaio==18.8.1
zope.interface==4.6.0
./evennia
